<div class="wrapper">
<div class="header">
<h1>My ToDo list!!</h1>
<form [formGroup]="todoForm" (ngSubmit)="addTodo()">
<div class="input-row">
<input formControlName="title" placeholder="Enter a task">
<button type="submit">Save</button>
</div>
</form>
<h2>Tasks</h2>
<div class="filters sort-gradient-btn">
  <button class="btn btn-primary sort-btn" (click)="sortByPriority()">Sort by Priority</button>
  <button class="btn btn-primary sort-btn" [ngClass]="filter==='all' ? 'btn-primary' : 'btn-outline-secondary'" (click)="filter='all'">All</button>
  <button class="btn btn-primary sort-btn" [ngClass]="filter==='pending' ? 'btn-primary' : 'btn-outline-secondary'" (click)="filter='pending'">Pending</button>
  <button class="btn btn-primary sort-btn" [ngClass]="filter==='completed' ? 'btn-primary' : 'btn-outline-secondary'" (click)="filter='completed'">Completed</button>
</div>
</div>
<table width="100%" class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Task</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Action</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
  @for (todo of filteredTasks; track todo.id) {  
<tr [ngClass]="{
      'table-danger': todo.priority === 'high',
      'table-warning': todo.priority === 'medium',
      'table-info': todo.priority === 'low'
    }"
>
  <td>{{ todo.id }}</td>
  <td>{{ todo.title }}</td>
  <td>{{ todo.completed ? "✔" : "✘" }}</td>
  <td>
    <button class="btn btn-sm btn-danger me-1" (click)="setPriority(todo, 'high')">High</button>
    <button class="btn btn-sm btn-warning me-1" (click)="setPriority(todo, 'medium')">Medium</button>
    <button class="btn btn-sm btn-info" (click)="setPriority(todo, 'low')">Low</button>
  </td>
  <td>
    <button class="btn btn-sm btn-warning" (click)="editTodo(todo)">Edit</button>
    <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo.id)">Delete</button>
  </td>
  <td>
  <input type="checkbox" [checked]="todo.completed" (change)="toggleCompleted(todo)">
</td>
</tr>
  }
</tbody>
</table>
</div>